@model MicroForum_NetCore.Models.Cliente
@{
    ViewData["SubTitle"] = "Validando a Alteração de Cliente";
    int id_cliente = Convert.ToUInt16(Model.Id_Cliente);
    string sNome = string.Empty;
    string sMorada = string.Empty;

    // coletando Nome
    if (Model.Nome == null)
    {
        sNome = string.Empty;
    }
    else
    {
        sNome = Model.Nome.ToString();
    }
    // coletando Morada
    if (Model.Morada == null)
    {
        sMorada = string.Empty;
    }
    else
    {
        sMorada = Model.Morada.ToString();
    }

}

<h2 class="titulo">@ViewBag.SubTitle</h2>
<hr />
<div class="card bg-light p-5">

    @{

        bool avancar = true;


        if ((id_cliente == 0) || (sNome == string.Empty) ||(sMorada == string.Empty) )
        {
            avancar = false;
            <h1>ATENÇÃO !</h1><p>Preencha Corretamente TODOS os campos</p>            
            <a asp-controller="Home" asp-action="AlterarCliente" asp-route-id="@Model.Id_Cliente" class="btn btn-primary">Voltar</a>
        }
        if (avancar)
        {
            MicroForum_NetCore.Models.Dados.AlterarCliente(Model);
            <h3>ATENÇÃO !</h3><p>Cliente Alterado com SUCESSO!</p>
            <a asp-controller="Home" asp-action="ListarClientes" class="btn btn-primary">Voltar</a>
        }
    }

</div>


