@{
    ViewData["SubTitle"] = "Menu Inicial";
  
}

<h2 class="titulo">@ViewBag.SubTitle</h2>
<hr />
<div class="row">

    @{
        if(MicroForum_NetCore.Program._usuario_Logado!="")
        {
            string NomeUsuario;
            
            NomeUsuario = MicroForum_NetCore.Program._usuario_Logado;
            System.Data.SqlClient.SqlDataReader dr = MicroForum_NetCore.Models.Dados.RetornarPosts(NomeUsuario, 0);


            <h5>Ultimas Postagens dos Usuários:</h5>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr class="post_main">
                        <th>Titulo</th>
                        <th>Mensagem</th>
                        <th>Data da Atualizacao</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        if (dr != null)
                        {
                            while ((dr.Read()))
                            {
                            <tr>
                                <td class="post_titulo">  @dr["titulo"]</td>
                                <td>  @dr["mensagem"]</td>
                                <td>  @dr["atualizacao"]  </td>
                            </tr>
                                }
                            }
                     }
                </tbody>
            </table>
            MicroForum_NetCore.Program.comando.Connection.Close();
        }
        else
        {
            <p>Micro Forum para Apresentação de Conhecimentos em ASP.NET Core 2.0, com sintaxe Razor versão 3</p>
        }
    }
</div>

<!--
<div class="row">
    <div class="col-4 text-center card bg-light p-5 m-3">
        <p class="text-center p-3">Visualização da Lista de Clientes registrados na aplicação</p>
        <a asp-controller="Home" asp-action="ListarClientes" class="btn btn-primary">Listar Clientes</a>
    </div>

    <div class="col-4 text-center card bg-light p-5 m-3">
        <p class="text-center p-3">Visualização da Lista de Produtos registrados na aplicação</p>
        <a asp-controller="Home" asp-action="ProdutoListar" class="btn btn-primary">Listar Produtos</a>
    </div>


</div>

-->
