@model int
@{
    ViewData["SubTitle"] = "Apagar Produto";
    int id_Produto = Convert.ToUInt16(Model);

}

<h2 class="titulo">@ViewBag.SubTitle</h2>
<hr />
<div class="card bg-light p-5">

    @{

        <h1>ATENÇÃO !</h1>
        <p>Deseja Realmente APAGAR o Produto ? </p>
        <div class="row">
            <div class="text-left">
                <a asp-controller="Home" asp-action="ProdutoApagar" asp-route-id="@id_Produto" class="btn btn-primary">Sim, pode apagar</a>
            </div><p>__</p>
            <div class="text-right">
                <a asp-controller="Home" asp-action="ProdutoListar" class="btn btn-primary">Não apague, Volte!</a>
            </div>
        </div>
    }

</div>


